<div class="p-4 sm:p-6 lg:p-8">
  <div class="max-w-7xl mx-auto">
    <!-- Sort Controls -->
    <div class="mb-6 flex justify-end items-center space-x-4">
      <div class="relative">
        <!-- Sort Icon Button -->
        <button
          (click)="togglePopup()"
          class="sort-icon inline-flex items-center p-2 text-gray-600 hover:text-gray-900 focus:outline-none cursor-pointer">
          <span class="dark:text-white">
            ترتيب حسب
           </span>
        </button>

        <!-- Popup Menu -->

        <div *ngIf="isPopupOpen"
             class="sort-popup absolute mt-2 w-48 rounded-md shadow-lg bg-white dark:bg-slate-700 ring-1 ring-black ring-opacity-5 z-10"
             [ngClass]="{'right-[-50px]': document.dir === 'rtl', 'left-[-50px]': document.dir === 'ltr'}">
          <div class="py-1" role="menu" aria-orientation="vertical">
            <button *ngFor="let option of sortOptions"
                    (click)="sortField = option.value; onSortChange()"
                    [ngClass]="{'bg-gray-100 dark:bg-gray-400' : sortField === option.value}"
                    class="w-full text-right px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:dark:bg-gray-400 focus:outline-none focus:bg-gray-100 dark:text-white"
                    role="menuitem">
              {{option.label}}
            </button>
          </div>
        </div>
      </div>

      <button
        (click)="toggleSortDirection()"
        class="inline-flex items-center text-sm font-medium text-gray-700 cursor-pointer">
        <span *ngIf="sortDirection === 'desc'" class="icon-sort-down dark:text-white"></span>
        <span *ngIf="sortDirection === 'asc'" class="icon-sort-up dark:text-white"></span>
      </button>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 sm:gap-6">
      <app-appointment
        *ngFor="let appointment of appointments"
        [appointment]="appointment"
        (cancelAppointment)="onCancelAppointment($event)"
        class="h-full">
      </app-appointment>
    </div>
  </div>
</div>
